# .gitignore
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
/surveyproject/media/*
/surveyproject/static/*
/venv_survey
.DS_Store
.vscode
.idea
*.pid
*.db
*.rdb
*.sqlite3
/.github
.git

